In [1]:
2==2

True

In [2]:
2+2

4

In [3]:
import pandas as pd

## Race

In [6]:
Race = pd.read_csv('Georgia\ACS_15_5YR_B02001_Race.csv')
Race.columns

Index([u'Id', u'Id2', u'Geography', u'Estimate; Total:',
       u'Margin of Error; Total:', u'Estimate; Total: - White alone',
       u'Margin of Error; Total: - White alone',
       u'Estimate; Total: - Black or African American alone',
       u'Margin of Error; Total: - Black or African American alone',
       u'Estimate; Total: - American Indian and Alaska Native alone',
       u'Margin of Error; Total: - American Indian and Alaska Native alone',
       u'Estimate; Total: - Asian alone',
       u'Margin of Error; Total: - Asian alone',
       u'Estimate; Total: - Native Hawaiian and Other Pacific Islander alone',
       u'Margin of Error; Total: - Native Hawaiian and Other Pacific Islander alone',
       u'Estimate; Total: - Some other race alone',
       u'Margin of Error; Total: - Some other race alone',
       u'Estimate; Total: - Two or more races:',
       u'Margin of Error; Total: - Two or more races:',
       u'Estimate; Total: - Two or more races: - Two races including Some other race',
       u'Margin of Error; Total: - Two or more races: - Two races including Some other race',
       u'Estimate; Total: - Two or more races: - Two races excluding Some other race, and three or more races',
       u'Margin of Error; Total: - Two or more races: - Two races excluding Some other race, and three or more races'],
      dtype='object')

In [19]:
def removeChars(df):
    for ch in [';', ':', '-', '(' ,')', ',', "'"]:
        df.columns = df.columns.str.replace(ch, '')

In [8]:
removeChars(Race)

Race.columns = Race.columns.str.upper().str.replace(' AND ', ' ').str.replace('ESTIMATE', 'EST').str.replace(
    'TOTAL', 'T').str.strip().str.replace('  ',' ').str.replace(' ','_')

cols = [c for c in Race.columns if c.upper()[:15] != 'MARGIN_OF_ERROR']
Race = Race[cols]

Race.columns

Index([u'ID', u'ID2', u'GEOGRAPHY', u'EST_T', u'EST_T_WHITE_ALONE',
       u'EST_T_BLACK_OR_AFRICAN_AMERICAN_ALONE',
       u'EST_T_AMERICAN_INDIAN_ALASKA_NATIVE_ALONE', u'EST_T_ASIAN_ALONE',
       u'EST_T_NATIVE_HAWAIIAN_OTHER_PACIFIC_ISLANDER_ALONE',
       u'EST_T_SOME_OTHER_RACE_ALONE', u'EST_T_TWO_OR_MORE_RACES',
       u'EST_T_TWO_OR_MORE_RACES_TWO_RACES_INCLUDING_SOME_OTHER_RACE',
       u'EST_T_TWO_OR_MORE_RACES_TWO_RACES_EXCLUDING_SOME_OTHER_RACE_THREE_OR_MORE_RACES'],
      dtype='object')

In [9]:
Race['EST_T_TWO_RACES'] = Race['EST_T_TWO_OR_MORE_RACES'] + Race[
    'EST_T_TWO_OR_MORE_RACES_TWO_RACES_INCLUDING_SOME_OTHER_RACE'] + Race[
'EST_T_TWO_OR_MORE_RACES_TWO_RACES_EXCLUDING_SOME_OTHER_RACE_THREE_OR_MORE_RACES']


Race.DropCols = DropCols= [
    'EST_T_TWO_OR_MORE_RACES',
    'EST_T_TWO_OR_MORE_RACES_TWO_RACES_INCLUDING_SOME_OTHER_RACE',
    'EST_T_TWO_OR_MORE_RACES_TWO_RACES_EXCLUDING_SOME_OTHER_RACE_THREE_OR_MORE_RACES',
]


Race.drop(DropCols, axis = 1, inplace = True)
Race.columns

Index([u'ID', u'ID2', u'GEOGRAPHY', u'EST_T', u'EST_T_WHITE_ALONE',
       u'EST_T_BLACK_OR_AFRICAN_AMERICAN_ALONE',
       u'EST_T_AMERICAN_INDIAN_ALASKA_NATIVE_ALONE', u'EST_T_ASIAN_ALONE',
       u'EST_T_NATIVE_HAWAIIAN_OTHER_PACIFIC_ISLANDER_ALONE',
       u'EST_T_SOME_OTHER_RACE_ALONE', u'EST_T_TWO_RACES'],
      dtype='object')

In [10]:
zip((Race.columns.tolist()), range(len(Race.columns.tolist())))

[('ID', 0),
 ('ID2', 1),
 ('GEOGRAPHY', 2),
 ('EST_T', 3),
 ('EST_T_WHITE_ALONE', 4),
 ('EST_T_BLACK_OR_AFRICAN_AMERICAN_ALONE', 5),
 ('EST_T_AMERICAN_INDIAN_ALASKA_NATIVE_ALONE', 6),
 ('EST_T_ASIAN_ALONE', 7),
 ('EST_T_NATIVE_HAWAIIAN_OTHER_PACIFIC_ISLANDER_ALONE', 8),
 ('EST_T_SOME_OTHER_RACE_ALONE', 9),
 ('EST_T_TWO_RACES', 10)]

In [12]:
#df.iloc[:,1:].div(df.A, axis=0)
RacePcts = (Race.iloc[:, 4:].div(Race.EST_T, axis = 0))*100
RacePcts = RacePcts.add_prefix('PCT_')
RacePcts.head(20)

,PCT_EST_T_WHITE_ALONE,PCT_EST_T_BLACK_OR_AFRICAN_AMERICAN_ALONE,PCT_EST_T_AMERICAN_INDIAN_ALASKA_NATIVE_ALONE,PCT_EST_T_ASIAN_ALONE,PCT_EST_T_NATIVE_HAWAIIAN_OTHER_PACIFIC_ISLANDER_ALONE,PCT_EST_T_SOME_OTHER_RACE_ALONE,PCT_EST_T_TWO_RACES
0,95.065789,1.425439,2.302632,1.206140,0.000000,0.000000,0.000000
1,97.838271,2.161729,0.000000,0.000000,0.000000,0.000000,0.000000
2,55.304519,38.359528,0.000000,0.000000,0.000000,6.335953,0.000000
3,52.542373,43.126177,0.000000,0.000000,0.000000,0.251099,8.160703
4,37.741313,56.660232,0.000000,5.598456,0.000000,0.000000,0.000000
5,52.683616,35.169492,0.000000,6.355932,0.000000,0.000000,11.581921
6,85.741325,7.634069,0.000000,0.000000,0.000000,0.000000,13.249211
7,79.078341,14.009217,0.000000,3.686636,0.000000,0.000000,6.451613
8,68.452780,15.874079,0.000000,0.000000,0.000000,15.673141,0.000000
9,40.662252,59.337748,0.000000,0.000000,0.000000,0.000000,0.000000
10,100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,98.273381,0.000000,0.000000,0.000000,1.726619,0.000000,0.000000
12,90.047676,8.939213,0.000000,0.000000,0.000000,0.000000,2.026222
13,100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,82.444229,6.886518,0.000000,0.000000,0.000000,9.020369,3.297769
15,38.330171,33.111954,0.000000,0.000000,0.000000,20.683112,15.749526
16,74.046921,2.688172,0.000000,0.000000,0.000000,23.264907,0.000000
17,43.936567,38.992537,0.932836,0.000000,0.000000,14.645522,2.985075
18,61.322870,27.410314,0.000000,0.000000,0.000000,8.408072,5.717489
19,92.348891,3.596021,1.071155,0.000000,0.000000,1.453711,3.060444

In [15]:
Race = Race.join(RacePcts)
Race.head()

,ID,ID2,GEOGRAPHY,EST_T,EST_T_WHITE_ALONE,EST_T_BLACK_OR_AFRICAN_AMERICAN_ALONE,EST_T_AMERICAN_INDIAN_ALASKA_NATIVE_ALONE,EST_T_ASIAN_ALONE,EST_T_NATIVE_HAWAIIAN_OTHER_PACIFIC_ISLANDER_ALONE,EST_T_SOME_OTHER_RACE_ALONE,EST_T_TWO_RACES,PCT_EST_T_WHITE_ALONE,PCT_EST_T_BLACK_OR_AFRICAN_AMERICAN_ALONE,PCT_EST_T_AMERICAN_INDIAN_ALASKA_NATIVE_ALONE,PCT_EST_T_ASIAN_ALONE,PCT_EST_T_NATIVE_HAWAIIAN_OTHER_PACIFIC_ISLANDER_ALONE,PCT_EST_T_SOME_OTHER_RACE_ALONE,PCT_EST_T_TWO_RACES
0,1500000US130019501001,130019501001,"Block Group 1, Census Tract 9501, Appling Coun...",912,867,13,21,11,0,0,0,95.065789,1.425439,2.302632,1.206140,0.0,0.000000,0.000000
1,1500000US130019501002,130019501002,"Block Group 2, Census Tract 9501, Appling Coun...",2498,2444,54,0,0,0,0,0,97.838271,2.161729,0.000000,0.000000,0.0,0.000000,0.000000
2,1500000US130019502001,130019502001,"Block Group 1, Census Tract 9502, Appling Coun...",2036,1126,781,0,0,0,129,0,55.304519,38.359528,0.000000,0.000000,0.0,6.335953,0.000000
3,1500000US130019502002,130019502002,"Block Group 2, Census Tract 9502, Appling Coun...",1593,837,687,0,0,0,4,130,52.542373,43.126177,0.000000,0.000000,0.0,0.251099,8.160703
4,1500000US130019502003,130019502003,"Block Group 3, Census Tract 9502, Appling Coun...",1036,391,587,0,58,0,0,0,37.741313,56.660232,0.000000,5.598456,0.0,0.000000,0.000000

In [16]:
Race.shape

(5533, 18)

In [17]:
RaceNums = Race.iloc[:, 4:]
RaceNums.describe()

C:\Users\Amber\Anaconda2\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,EST_T_WHITE_ALONE,EST_T_BLACK_OR_AFRICAN_AMERICAN_ALONE,EST_T_AMERICAN_INDIAN_ALASKA_NATIVE_ALONE,EST_T_ASIAN_ALONE,EST_T_NATIVE_HAWAIIAN_OTHER_PACIFIC_ISLANDER_ALONE,EST_T_SOME_OTHER_RACE_ALONE,EST_T_TWO_RACES,PCT_EST_T_WHITE_ALONE,PCT_EST_T_BLACK_OR_AFRICAN_AMERICAN_ALONE,PCT_EST_T_AMERICAN_INDIAN_ALASKA_NATIVE_ALONE,PCT_EST_T_ASIAN_ALONE,PCT_EST_T_NATIVE_HAWAIIAN_OTHER_PACIFIC_ISLANDER_ALONE,PCT_EST_T_SOME_OTHER_RACE_ALONE,PCT_EST_T_TWO_RACES
count,5533.000000,5533.000000,5533.000000,5533.000000,5533.000000,5533.000000,5533.000000,5520.000000,5520.000000,5520.000000,5520.000000,5520.000000,5520.000000,5520.000000
mean,1089.045906,559.688596,4.678655,65.145129,0.850172,50.497560,77.282848,59.579127,32.595947,0.247774,2.957424,0.056227,2.573883,3.979239
std,886.048179,702.982957,19.881667,168.908135,7.897559,128.021858,126.268839,30.174355,30.432886,1.014195,6.314356,0.662520,5.977490,5.895007
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,452.000000,100.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,917.000000,338.000000,0.000000,1.000000,0.000000,0.000000,30.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1539.000000,768.000000,0.000000,56.000000,0.000000,38.000000,102.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,9009.000000,9680.000000,509.000000,3066.000000,261.000000,1656.000000,1806.000000,100.000000,100.000000,18.695015,74.638380,27.555556,65.905383,123.809524

In [19]:
Race.to_csv('Georgia/RaceBG.csv')

## Latino

In [20]:
Latino = pd.read_csv('Georgia/ACS_15_5YR_B03003_Latino.csv')
Latino.columns

Index([u'Id', u'Id2', u'Geography', u'Estimate; Total:',
       u'Margin of Error; Total:',
       u'Estimate; Total: - Not Hispanic or Latino',
       u'Margin of Error; Total: - Not Hispanic or Latino',
       u'Estimate; Total: - Hispanic or Latino',
       u'Margin of Error; Total: - Hispanic or Latino'],
      dtype='object')

In [21]:
removeChars(Latino)
Latino.columns = Latino.columns.str.upper().str.replace(' AND ', ' ').str.replace('ESTIMATE', 'EST').str.replace(
    'TOTAL', 'T').str.strip().str.replace('  ',' ').str.replace(' ','_')
cols = [c for c in Latino.columns if c.upper()[:15] != 'MARGIN_OF_ERROR']
Latino = Latino[cols]
Latino.columns

Index([u'ID', u'ID2', u'GEOGRAPHY', u'EST_T', u'EST_T_NOT_HISPANIC_OR_LATINO',
       u'EST_T_HISPANIC_OR_LATINO'],
      dtype='object')

In [22]:
Latino['PCT_Latino'] = (Latino['EST_T_HISPANIC_OR_LATINO'].div(Latino['EST_T']))*100
Latino.columns

Index([u'ID', u'ID2', u'GEOGRAPHY', u'EST_T', u'EST_T_NOT_HISPANIC_OR_LATINO',
       u'EST_T_HISPANIC_OR_LATINO', u'PCT_Latino'],
      dtype='object')

In [23]:
Latino.PCT_Latino.mean()

8.242865669165308

In [24]:
Latino.to_csv('Georgia/LatinoBG.csv')

## Median Household Income

In [25]:
MHI = pd.read_csv('Georgia/ACS_15_5YR_B19013_MHI.csv')
MHI.columns

Index([u'Id', u'Id2', u'Geography',
       u'Estimate; Median household income in the past 12 months (in 2015 Inflation-adjusted dollars)',
       u'Margin of Error; Median household income in the past 12 months (in 2015 Inflation-adjusted dollars)'],
      dtype='object')

In [26]:
removeChars(MHI)
MHI.columns = MHI.columns.str.upper().str.replace(' AND ', ' ').str.replace('ESTIMATE', 'EST').str.replace(
    'TOTAL', 'T').str.strip().str.replace('  ',' ').str.replace(' ','_')
cols = [c for c in MHI.columns if c.upper()[:15] != 'MARGIN_OF_ERROR']
MHI = MHI[cols]
MHI.columns

Index([u'ID', u'ID2', u'GEOGRAPHY',
       u'EST_MEDIAN_HOUSEHOLD_INCOME_IN_THE_PAST_12_MONTHS_IN_2015_INFLATIONADJUSTED_DOLLARS'],
      dtype='object')

In [27]:
MHI.to_csv('Georgia/MHIncomeBG.csv')

## Housing Units Tenure

In [28]:
Housing = pd.read_csv('Georgia/ACS_15_5YR_B25008_HousingUnitsTenure.csv')
Housing.columns

Index([u'Id', u'Id2', u'Geography', u'Estimate; Total:',
       u'Margin of Error; Total:', u'Estimate; Total: - Owner occupied',
       u'Margin of Error; Total: - Owner occupied',
       u'Estimate; Total: - Renter occupied',
       u'Margin of Error; Total: - Renter occupied'],
      dtype='object')

In [29]:
removeChars(Housing)
Housing.columns = Housing.columns.str.upper().str.replace(' AND ', ' ').str.replace('ESTIMATE', 'EST').str.replace(
    'TOTAL', 'T').str.strip().str.replace('  ',' ').str.replace(' ','_')
cols = [c for c in Housing.columns if c.upper()[:15] != 'MARGIN_OF_ERROR']
Housing = Housing[cols]
Housing.columns

Index([u'ID', u'ID2', u'GEOGRAPHY', u'EST_T', u'EST_T_OWNER_OCCUPIED',
       u'EST_T_RENTER_OCCUPIED'],
      dtype='object')

In [30]:
HousingPcts = (Housing.iloc[:, 4:].div(Housing.EST_T, axis = 0))*100
HousingPcts = HousingPcts.add_prefix('PCT_')
HousingPcts.describe()

       PCT_EST_T_OWNER_OCCUPIED  PCT_EST_T_RENTER_OCCUPIED
count               5510.000000                5510.000000
mean                  61.566154                  38.433846
std                   25.577350                  25.577350
min                    0.000000                   0.000000
25%                         NaN                        NaN
50%                         NaN                        NaN
75%                         NaN                        NaN
max                  100.000000                 100.000000

In [31]:
Housing = Housing.join(HousingPcts)
Housing.head(10)

,ID,ID2,GEOGRAPHY,EST_T,EST_T_OWNER_OCCUPIED,EST_T_RENTER_OCCUPIED,PCT_EST_T_OWNER_OCCUPIED,PCT_EST_T_RENTER_OCCUPIED
0,1500000US130019501001,130019501001,"Block Group 1, Census Tract 9501, Appling Coun...",912,664,248,72.807018,27.192982
1,1500000US130019501002,130019501002,"Block Group 2, Census Tract 9501, Appling Coun...",2475,2086,389,84.282828,15.717172
2,1500000US130019502001,130019502001,"Block Group 1, Census Tract 9502, Appling Coun...",2036,1642,394,80.648330,19.351670
3,1500000US130019502002,130019502002,"Block Group 2, Census Tract 9502, Appling Coun...",1300,494,806,38.000000,62.000000
4,1500000US130019502003,130019502003,"Block Group 3, Census Tract 9502, Appling Coun...",1036,707,329,68.243243,31.756757
5,1500000US130019503001,130019503001,"Block Group 1, Census Tract 9503, Appling Coun...",708,172,536,24.293785,75.706215
6,1500000US130019503002,130019503002,"Block Group 2, Census Tract 9503, Appling Coun...",1585,581,1004,36.656151,63.343849
7,1500000US130019503003,130019503003,"Block Group 3, Census Tract 9503, Appling Coun...",983,474,509,48.219736,51.780264
8,1500000US130019503004,130019503004,"Block Group 4, Census Tract 9503, Appling Coun...",1460,1265,195,86.643836,13.356164
9,1500000US130019504001,130019504001,"Block Group 1, Census Tract 9504, Appling Coun...",755,600,155,79.470199,20.529801

In [32]:
Housing.to_csv('Georgia/HousingTenureBG.csv')

## Educational Attainment

In [28]:
Education = pd.read_csv('Georgia\ACS_15_5YR_B15003_Education.csv')
Education.columns

Index([u'Id', u'Id2', u'Geography', u'Estimate; Total:',
       u'Margin of Error; Total:',
       u'Estimate; Total: - No schooling completed',
       u'Margin of Error; Total: - No schooling completed',
       u'Estimate; Total: - Nursery school',
       u'Margin of Error; Total: - Nursery school',
       u'Estimate; Total: - Kindergarten',
       u'Margin of Error; Total: - Kindergarten',
       u'Estimate; Total: - 1st grade', u'Margin of Error; Total: - 1st grade',
       u'Estimate; Total: - 2nd grade', u'Margin of Error; Total: - 2nd grade',
       u'Estimate; Total: - 3rd grade', u'Margin of Error; Total: - 3rd grade',
       u'Estimate; Total: - 4th grade', u'Margin of Error; Total: - 4th grade',
       u'Estimate; Total: - 5th grade', u'Margin of Error; Total: - 5th grade',
       u'Estimate; Total: - 6th grade', u'Margin of Error; Total: - 6th grade',
       u'Estimate; Total: - 7th grade', u'Margin of Error; Total: - 7th grade',
       u'Estimate; Total: - 8th grade', u'Margin of Error; Total: - 8th grade',
       u'Estimate; Total: - 9th grade', u'Margin of Error; Total: - 9th grade',
       u'Estimate; Total: - 10th grade',
       u'Margin of Error; Total: - 10th grade',
       u'Estimate; Total: - 11th grade',
       u'Margin of Error; Total: - 11th grade',
       u'Estimate; Total: - 12th grade, no diploma',
       u'Margin of Error; Total: - 12th grade, no diploma',
       u'Estimate; Total: - Regular high school diploma',
       u'Margin of Error; Total: - Regular high school diploma',
       u'Estimate; Total: - GED or alternative credential',
       u'Margin of Error; Total: - GED or alternative credential',
       u'Estimate; Total: - Some college, less than 1 year',
       u'Margin of Error; Total: - Some college, less than 1 year',
       u'Estimate; Total: - Some college, 1 or more years, no degree',
       u'Margin of Error; Total: - Some college, 1 or more years, no degree',
       u'Estimate; Total: - Associate's degree',
       u'Margin of Error; Total: - Associate's degree',
       u'Estimate; Total: - Bachelor's degree',
       u'Margin of Error; Total: - Bachelor's degree',
       u'Estimate; Total: - Master's degree',
       u'Margin of Error; Total: - Master's degree',
       u'Estimate; Total: - Professional school degree',
       u'Margin of Error; Total: - Professional school degree',
       u'Estimate; Total: - Doctorate degree',
       u'Margin of Error; Total: - Doctorate degree'],
      dtype='object')

In [29]:
removeChars(Education)

Education.columns = Education.columns.str.upper().str.replace(' AND ', ' ').str.replace('ESTIMATE', '').str.replace(
    'TOTAL', 'T').str.strip().str.replace('  ',' ').str.replace(' ','_')

cols = [c for c in Education.columns if c.upper()[:15] != 'MARGIN_OF_ERROR']
Education = Education[cols]

zip((Education.columns.tolist()), range(len(Education.columns.tolist())))

[('ID', 0),
 ('ID2', 1),
 ('GEOGRAPHY', 2),
 ('T', 3),
 ('T_NO_SCHOOLING_COMPLETED', 4),
 ('T_NURSERY_SCHOOL', 5),
 ('T_KINDERGARTEN', 6),
 ('T_1ST_GRADE', 7),
 ('T_2ND_GRADE', 8),
 ('T_3RD_GRADE', 9),
 ('T_4TH_GRADE', 10),
 ('T_5TH_GRADE', 11),
 ('T_6TH_GRADE', 12),
 ('T_7TH_GRADE', 13),
 ('T_8TH_GRADE', 14),
 ('T_9TH_GRADE', 15),
 ('T_10TH_GRADE', 16),
 ('T_11TH_GRADE', 17),
 ('T_12TH_GRADE_NO_DIPLOMA', 18),
 ('T_REGULAR_HIGH_SCHOOL_DIPLOMA', 19),
 ('T_GED_OR_ALTERNATIVE_CREDENTIAL', 20),
 ('T_SOME_COLLEGE_LESS_THAN_1_YEAR', 21),
 ('T_SOME_COLLEGE_1_OR_MORE_YEARS_NO_DEGREE', 22),
 ('T_ASSOCIATES_DEGREE', 23),
 ('T_BACHELORS_DEGREE', 24),
 ('T_MASTERS_DEGREE', 25),
 ('T_PROFESSIONAL_SCHOOL_DEGREE', 26),
 ('T_DOCTORATE_DEGREE', 27)]

In [32]:
Education['NO_HIGHSCHOOL'] = Education.iloc[:, 4:19].sum(axis=1)
Education['HIGHSCHOOL_GED'] = Education['T_REGULAR_HIGH_SCHOOL_DIPLOMA'] + Education['T_GED_OR_ALTERNATIVE_CREDENTIAL']
Education['SOMECOLLEGE'] = Education['T_SOME_COLLEGE_1_OR_MORE_YEARS_NO_DEGREE'] + Education['T_SOME_COLLEGE_LESS_THAN_1_YEAR']
Education['PROFESSIONALDEGREE'] = Education.iloc[:, 23:27].sum(axis=1)


print Education['NO_HIGHSCHOOL'].max()
print Education['HIGHSCHOOL_GED'].max()
print Education['SOMECOLLEGE'].max()
print Education['PROFESSIONALDEGREE'].max()

1387
2902
2624
6590

In [33]:
Education.DropCols = DropCols= [
 'T_NO_SCHOOLING_COMPLETED',
 'T_NURSERY_SCHOOL',
 'T_KINDERGARTEN',
 'T_1ST_GRADE',
 'T_2ND_GRADE',
 'T_3RD_GRADE',
 'T_4TH_GRADE',
 'T_5TH_GRADE',
 'T_6TH_GRADE',
 'T_7TH_GRADE',
 'T_8TH_GRADE',
 'T_9TH_GRADE',
 'T_10TH_GRADE',
 'T_11TH_GRADE',
 'T_12TH_GRADE_NO_DIPLOMA',
 'T_REGULAR_HIGH_SCHOOL_DIPLOMA',
 'T_GED_OR_ALTERNATIVE_CREDENTIAL',
 'T_SOME_COLLEGE_LESS_THAN_1_YEAR',
 'T_SOME_COLLEGE_1_OR_MORE_YEARS_NO_DEGREE',
 'T_ASSOCIATES_DEGREE',
 'T_BACHELORS_DEGREE',
 'T_MASTERS_DEGREE',
 'T_PROFESSIONAL_SCHOOL_DEGREE',
 'T_DOCTORATE_DEGREE',
]


Education.drop(DropCols, axis = 1, inplace = True)
Education.dtypes

ID                    object
ID2                    int64
GEOGRAPHY             object
T                      int64
NO_HIGHSCHOOL          int64
HIGHSCHOOL_GED         int64
SOMECOLLEGE            int64
PROFESSIONALDEGREE     int64
dtype: object

In [39]:
print Education['T'].min()

0

In [40]:
EducationPcts = (Education.iloc[:, 4:].div(Education['T'], axis = 0))*100
EducationPcts = EducationPcts.add_prefix('PCT_')
EducationPcts.describe()

,PCT_NO_HIGHSCHOOL,PCT_HIGHSCHOOL_GED,PCT_SOMECOLLEGE,PCT_PROFESSIONALDEGREE
count,5520.000000,5520.000000,5520.000000,5520.000000
mean,16.193965,29.811510,20.802329,32.020946
std,12.249345,13.021962,8.372993,19.775376
min,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN
max,89.264414,100.000000,100.000000,100.000000

In [43]:
Education = Education.join(EducationPcts)
Education.head()

,ID,ID2,GEOGRAPHY,T,NO_HIGHSCHOOL,HIGHSCHOOL_GED,SOMECOLLEGE,PROFESSIONALDEGREE,PCT_NO_HIGHSCHOOL,PCT_HIGHSCHOOL_GED,PCT_SOMECOLLEGE,PCT_PROFESSIONALDEGREE
0,1500000US130019501001,130019501001,"Block Group 1, Census Tract 9501, Appling Coun...",589,143,256,71,110,24.278438,43.463497,12.054329,18.675722
1,1500000US130019501002,130019501002,"Block Group 2, Census Tract 9501, Appling Coun...",1616,421,675,218,302,26.051980,41.769802,13.490099,18.688119
2,1500000US130019502001,130019502001,"Block Group 1, Census Tract 9502, Appling Coun...",1253,291,607,157,198,23.224262,48.443735,12.529928,15.802075
3,1500000US130019502002,130019502002,"Block Group 2, Census Tract 9502, Appling Coun...",817,235,354,130,98,28.763770,43.329253,15.911873,11.995104
4,1500000US130019502003,130019502003,"Block Group 3, Census Tract 9502, Appling Coun...",787,169,371,136,111,21.473952,47.141042,17.280813,14.104193

In [44]:
Education.to_csv('Georgia/EducationBG.csv')

## Median Year Built

In [46]:
YrBuilt = pd.read_csv('Georgia/ACS_15_5YR_B25035_AvgYrBuilt.csv')
YrBuilt.columns

Index([u'Id', u'Id2', u'Geography', u'Estimate; Median year structure built',
       u'Margin of Error; Median year structure built'],
      dtype='object')

In [47]:
removeChars(YrBuilt)

YrBuilt.columns = YrBuilt.columns.str.upper().str.replace(' AND ', ' ').str.replace('ESTIMATE', '').str.replace(
    'TOTAL', 'T').str.strip().str.replace('  ',' ').str.replace(' ','_')

cols = [c for c in YrBuilt.columns if c.upper()[:15] != 'MARGIN_OF_ERROR']
YrBuilt = YrBuilt[cols]

zip((YrBuilt.columns.tolist()), range(len(YrBuilt.columns.tolist())))

[('ID', 0), ('ID2', 1), ('GEOGRAPHY', 2), ('MEDIAN_YEAR_STRUCTURE_BUILT', 3)]

In [48]:
YrBuilt.to_csv('Georgia/YrBuiltBG.csv')